<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="OFF">
    <!-- List of properties -->
    <Properties>
        <Property name="logFileName">log</Property>
        <Property name="logFilePath">log/${logFileName}</Property>
        <Property name="pattern">[%-5p] %d [%t] %x %c %M - %m%n</Property>
    </Properties>

    <!-- List of appender, responsibly to display the log somewhere -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <!-- immediateFlush="false" for better SSD lifetime -->
        <File name="File" fileName="${logFilePath}" immediateFlush="false" append="false">
            <PatternLayout pattern="${pattern}"/>
        </File>
    </Appenders>

    <!-- List of Logger to retrieve with LogManager.getLogger() -->
    <Loggers>
        <Root level="error">
            <AppenderRef ref="Console"/>
        </Root>

        <Logger name="TestGoogleAuthenticator" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="TestWatcherService" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="Watcher" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="GoogleAuthenticator" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="GoogleAuthenticatorUI" level="all" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <!--<Root level="error">-->
            <!--<AppenderRef ref="File"/>-->
        <!--</Root>-->
        <Logger name="fileLog" level="all" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>